.textBox {
    width: 300px;
    border: 8px solid green;
    padding: 40px;
    margin: auto;
    background-color: bisque;
    text-align: center;
}

button {
    padding: 5px;
    margin: 10px;
}

.right {
    float: right;
    width: 100px;

}

.left {
    float: left;
    width: 100px;
}

h1 {
    text-align: center;
}

body {
    background-color: cadetblue;
}